.navBar {
  background-color: rgb(8, 117, 207);
  color: white;
}

.linkText {
  color: white;
}

.linkText:hover {
  color: white;
}

.buttonAll {

  margin-top: 10px;
  margin-bottom: 10px;
  width: 140px;
  margin-right: 10px;
  background-color: rgb(8, 117, 207);
}

.buttonAll:hover {
  background-color: rgb(19, 19, 127);
}

.buttonClear {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  margin-right: 10px;
  background-color: rgb(8, 117, 207);
}

.buttonClear:hover {
  background-color: rgb(19, 19, 127);
}

.allSection {
  margin-top: 15px;
  margin-bottom: 12px;
}

.questionContent {
  display: flex;
  justify-content: space-between;
}

.questionCard {
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px 4px rgb(224, 224, 224);
  border: 2px solid rgb(214, 214, 214);
}

.cardFirstProfile {
  display: flex;
  margin-top: -85px;
  justify-content: space-between;
}

.questionCard .headerCard {
  background-color: rgb(8, 117, 207);
  display: flex;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

.qTitle {
  font-size: 0.8rem;
  color: blue;
  font-weight: 500;
}

.vl {
  border-left: 1px solid rgb(220, 220, 220);
  position: absolute;
  height: 90%;
  left: 50%;
  margin-left: -3px;
  top: 37px;
}

.Palette {
  display: flex;
  justify-content: space-between;
  margin-bottom:3px;

}
.legendView{
  display:flex;
  justify-content: space-around;
  background-color:#97D2EC;
  padding-top:2px;
  padding-bottom:2px;
}
.legendView2{
  display:flex;
  justify-content: space-around;
  background-color:#97D2EC;
  padding-bottom:2px;
}
.legendView3{
  display:flex;
  justify-content: space-around;
  background-color:#97D2EC;
  padding-bottom:2px;
}
.correct{
  background-color:green;
  width:147px;
  margin-left:2px;
  padding-left:2px;
  text-align:left;
}
.wrong{
  background-color:red;
  width:147px;
  margin-left:2px;
  padding-left:2px;
  margin-right:2px;
  text-align:left;
  
}
.rvAns{
  background-color:rgb(165, 61, 255);
  width:147px;
  margin-left:2px;
  padding-left:2px;
  text-align:left;
  
}
.rv{
  background-color:yellow;
  width:147px;
  margin-left:2px;
  padding-left:2px;
  margin-right:2px;
  text-align:left;
  
}
.dump{
  background-color:rgb(158, 158, 158);
  width:147px;
  margin-left:2px;
  padding-left:2px;
  text-align:left;
  
}
.noVisit{
  background-color:white;
  width:147px;
  margin-left:2px;
  padding-left:2px;
  margin-right:2px;
  text-align:left;
  
}
.qs{
  background-color:rgb(8, 117, 207);
  width:294px;
  margin-left:2px;
  margin-right:2px;
  text-align:center;
  margin-bottom:20px;
}
/* responsive  */
@media  screen and (min-width:1400px){
  .qs{
    width:100%;
  }
}
@media  screen and (max-width:1240px) and (min-width:992px){
    .qs{
      width:235px;
    }
}
@media  screen and (max-width:991px) {
  .qs{
    width:300px;
    margin: auto;
    margin-bottom:20px;
  }
  .cardFirstProfile{
    margin-top:45px;
  }
  .line{
    display:none;
  }
}
@media  screen and (max-width:400px){
  .qs{
    width:150px;
  }
}

